*{
    margin: 0;
    padding: 0;
}
.intro {
    display: flex;

    
    align-items: center;
    justify-content: center;
}
.blog-title-emoji {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
.left{
    flex: 0.5;
    display:flex;
    overflow:hidden;
    justify-content: center;
}
.imgcontainer{
 width: 300%;
 height: 250%;
 display: flex;
 justify-content: center;
 float: right;
}
img{
    height:60%;
    margin: auto;
    display: block;
}
.right{
    flex: 0.5;
    position: relative;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
}
.wave {
    animation-name: wave;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
h2{
    font-size: 2.2rem;
    font-family: sans-serif;
}
h1{
    font-size: 60px;
    font-family: sans-serif;
    margin: 10px 0;
}
h3{
    font-size: 30px;
    font-family: sans-serif;
    color: #be6adf;
    font-weight: 600;
}
@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

 @media screen and (max-width: 768px)  {
    .wrapper{
        margin: 8rem auto;
        padding: 0;
        width: 90%;
        justify-content: center;
    }
}
