.container-skill{
    display: flex;
    padding: 40px;
}
.skillContainer__text {
  color:black;
  flex: 0.6;
  text-align: left;
  max-width: 500px;
  margin-bottom: 20px;
}

.skillContainer__skillSet > h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding-bottom: 2px;
  padding-top: 30px;
  color:black;
}

